
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBankAccountLabel" translate="jwalletApp.bankAccount.home.createTitle">Create Bank Account</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="number" translate="jwalletApp.bankAccount.number">Account Number</label>
            <input type="text" class="form-control" id="number" name="number"
                    ng-model="bankAccount.number" ui-mask="999-99999999-9-99" ui-mask-placeholder ui-mask-placeholder-char="_"
                    model-view-value="true" />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jwalletApp.bankAccount.balance" for="field_balance">Balance</label>
            <input type="number" class="form-control" name="balance" id="field_balance"
                    ng-model="bankAccount.balance"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
