<div>
    <h2 translate="jwalletApp.card.home.title">Cards</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="card.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jwalletApp.card.home.createLabel">Create a new Card</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="number"><span translate="jwalletApp.card.number">Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="openedDate"><span translate="jwalletApp.card.openedDate">OpenedDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in cards track by card.id">
                    <td><a ui-sref="card.detail({id:card.id})">{{card.id}}</a></td>
                    <td>{{card.number}}</td>
                        <td>{{card.openedDate | date:'mediumDate'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="card.detail({id:card.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="card.edit({id:card.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="card.delete({id:card.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
